.grades {
  margin: 0 1rem 1rem;
}

.grades.collapsed {
  display: none;
}

.grades.expanded {
  display: block;
}

.grades-button {
  position: relative;
  bottom: 7rem;
  left: 38rem;
  width: 2rem;
  padding: 0;
  line-height: 0.5rem;
  letter-spacing: -6px;
  margin: auto 0;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  color: rgb(170, 170, 170);
  background-color: rgb(255, 255, 255);
}

.grades-button:hover {
  color: rgb(0, 0, 0);
}
